:root {
    --gradient: linear-gradient(45deg,#FFF1DD, #1f33cf, #FFF1DD , #FFF1DD,#9ab4dd, #FFF1DD);
}

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
