/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

@import url("style-guide.css");
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* TODO: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Afacad", sans-serif;
  --heading-typeface: "Playfair Display", serif;
  --project-title-typeface: "Signika Negative", sans-serif;
  --background-color: #ffffff;
  --background-color-about: #ffffff;
  --background-color-footer: #ffffff;
  --alt-background-color: #000000;
  --background-color-holding-page: rgba(0, 0, 0, 0.6);
  --h1-color: #000000;
  --h2-color: #e54f8b;
  --h3-color: #000000;
  --h4-color: #000000;
  --h5-color: #000000;
  --h6-color: #000000;
  --primary-text-color: #222;
  --holding-page-title-color: #000000;
  --accent-color: #eddcdc;
  --overlay-color: #000000;
  --overlay-title-color: #000000;
  --overlay-description-color: #000000;
  --hyperlink-color: #000000;
  --hyperlink-alternate-color: rgb(0, 0, 0);
  --hover-color: #dc2e99;
  --visited-color: #000000;
  --project-title-color: #000000;

  --project-sidebar-text-color: rgb(0, 0, 0);
  --heart-color: rgb(0, 0, 0);
  --holding-page-footer-color: #d92f92;
  --text-selection-background-color: #000000;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2.6rem;
  font-family: var(--heading-typeface);
  color: var(--h1-color);
  margin-bottom: 2rem;
}

h2 {
  font-size: 1rem;
  font-family: var(--project-title-typeface);
  color: var(--h2-color);
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 0.825rem;
  font-family: var(--body-typeface);
  line-height: 1.3;
  color: var(--h3-color);
  margin-bottom: 2rem;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-size: 3.725rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
  padding: 1rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation {
  letter-spacing: 1px;
}
.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: 1px;
}

.heart {
  color: var(--heart-color);
}
.heart1 {
  color: palevioletred;
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.7;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description1 {
  font-size: 1.225rem;
  line-height: 1.2;
  align-content: flex-start;
  margin-bottom: 2rem;

  padding: 6rem 2rem;
}

.project-description2 {
  font-size: 1.225rem;
  line-height: 1.2;
  padding: 0rem 3rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/
/* Container for the blob background */
.blob-background {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, #ffe7f0, #ffffff);
  animation: blob-animation 10s ease-in-out infinite;
  z-index: -1; /* Behind main content */
}
.blob-background-about {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, #ff0c92, #ffffff);
  animation: blob-animation 10s ease-in-out infinite;
  z-index: -1; /* Behind main content */
}

.head {
  background: #cd679a;
  padding: 40px 0;
  text-align: center;
}

.hero-headline {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
  font-family: var(--body-typeface);
}

.hero-nav1 {
  justify-content: space-around;
  padding: 1rem 1rem;
  flex-direction: column;
}
.hero-nav2 {
  justify-content: space-around;
  padding: 1rem 1rem;
  flex-direction: column;
}
.logo {
  width: 2rem;
  padding: 1rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;
}

.hero-icon {
  font-size: 4rem;
}

.cursor {
  position: relative;
  width: 14em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.name {
  font-size: 1rem;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  position: relative;
  padding: 4rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  width: 40%; /* adjust width as needed */
  height: 40%; /* adjust height as needed */
  background-size: cover;
  background-position: center;
  margin: 1rem;
  box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.3);
}

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px;
  text-align: center;
  background: var(--accent-color);
  font-size: 2rem; /* adjust as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover .overlay-text {
  opacity: 0.9;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.items {
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
  margin-bottom: 6rem;
  padding: 6rem;
}

.item {
  width: calc(var(--index) * 13.5);
  height: calc(var(--index) * 13.5);
  background-size: cover;
  background-position: center;
  filter: brightness(1);
  transition: transform 0.9s var(--transition), filter 3s var(--transition),
    width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after {
  left: calc(var(--index) * -1);
}

.items .item:hover {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 0.6)) rotateY(15deg);
  z-index: -4;
}

/*Left*/

.items .item:has(+ :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has(+ * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has(+ * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has(+ * + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
}

.items .item:active,
.items .item:focus {
  width: 28vw;
  filter: inherit;
  z-index: 100;
  transform: translateZ(calc(var(--index) * 10));
  margin: 0 0.45vw;
}

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem 4rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

:root {
  /* Base font size */
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
.skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.about {
  display: flex;
  gap: 2rem; /* Space between items */
  background: var(--background-color-about);
  padding: 4rem;
}

.about-item-1 {
  flex: 2 1 0; /* Takes up 2/3 of the space */
}

.about-item-2 {
  display: flex; /* Takes up 1/3 of the space */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: flex; /* Use flexbox */
  align-items: center; /* Aligns items vertically */
  background: var(--background-color-footer);
  padding: 2rem;
}

.footer-item-1 {
  display: flex;
  padding: 2rem;
}

.ex1 {
  display: flex; /* Make the social icons a flex container */
  justify-content: flex-end; /* Aligns icons to the right */

  padding: 4rem 4rem;
}

.footer-item-4 {
  padding: 2rem;
  align-items: center;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/
.project-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-item {
  display: flex;
  align-items: flex-start; /* Center items vertically */
  justify-content: center; /* Center the image-text block horizontally */
  gap: 20px;
  text-align: left; /* Ensure text alignment remains consistent */
  margin-bottom: 12rem;
}

.image-container {
  flex-shrink: 0;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-description {
  max-width: 300px;
  font-size: 14px;
  line-height: 1.4;
}

.image-description h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.image-description h3 {
  margin: 5px 0 0 0;
  font-size: 14px;
}
.text-span1 {
  font-size: 1.2rem;
  font-family: var(--body-typeface);
  margin-bottom: 7rem;
}

.text-span2 {
  font-size: 1rem;
  font-family: var(--body-typeface);
  margin-top: 3rem;
}

.text-span3 {
  font-size: 1rem;
  font-family: var(--body-typeface);
}

.project-list {
  padding: 3rem 3rem;
  width: 100%;
}

.project-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 18rem;
}

.arrow1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0rem 4rem;
}
.arrow2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 0.5rem;

  padding: 0rem 4rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
}

.project-info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 4rem;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.large-emoji-placeholder {
  font-size: 12rem;
  /* TODO: Delete this rule. It is only used for making the placeholder emojis large for demo purposes only. */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 60%;
  padding: 1rem;
  /* TODO: Delete background-image and the three linear gradient colors to remove the gradient background on the project page. Be careful not to delete the closing } */
  background-image: linear-gradient(
    -225deg,
    var(--linear-gradient-color-1) 0%,
    var(--linear-gradient-color-2) 50%,
    var(--linear-gradient-color-3) 100%
  );
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;

  /* TODO: Delete the following if you do not want a grainy gradient background on index.html. Be careful not to delete the closing } */

  /* For more on grainy gradients see https://grainy-gradients.vercel.app/ */
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.holding-page-copyright {
  font-size: 1.25rem;
  color: var(--holding-page-title-color);
  margin-bottom: 0;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███████ ██   ██ ███████ ████████  ██████ ██   ██ ██████   ██████   ██████  ██   ██ 
██      ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ █████   █████      ██    ██      ███████ ██████  ██    ██ ██    ██ █████   
     ██ ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ ██   ██ ███████    ██     ██████ ██   ██ ██████   ██████   ██████  ██   ██ 

*/

.sketchbook-page {
  display: grid;
  place-items: center;
}

.sketchbook-page-inner-container {
  text-align: center;
}

.sketchbook-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* TODO: Add styles here for medium devices. */
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .logo {
    width: 5rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }

  .hero {
    min-height: 100%;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .about {
    padding: 6rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .global-footer {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
    background: var(--background-color-footer);
    padding: 2rem; /* Padding around the footer */
  }

  .footer-item-1 {
    flex: 1; /* Takes up 2/3 of the available space */
    padding: 4rem;
  }

  .footer-item-2 {
    flex: 2; /* Takes up 1/3 of the available space */
    text-align: left; /* Aligns icons to the right */
    padding: 3rem;
    font-family: var(--body-typeface);
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 6rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 100%;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* TODO: Add styles here for XX-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
